.App {
  text-align: center;
  background-color: antiquewhite;
  position: relative;
  top: 0px;
  width: 1200px;
}

#video {
  border: greenyellow solid 5pt;
}

body {
  border: orange solid 2pt;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
}

canvas {
  width: 360px;
  border: yellow solid 5pt;
}

#photo {
  border: blue solid 10pt;
}

.emotions {
  display: inline-block;
}
